/*TODO  폰트 적용 필요*/
:root {
}
body {
  margin: 0;
  padding: 0;
}

button {
  cursor: pointer;
  border: none;
  background-color: transparent;
  border-radius: 20%;
  color: var(--list-color);
}
button:hover {
  transform: scale(1.2);
  background-color: var(--background-hover);
  border-radius: 20%;
  font-weight: bold;
}

.theme-toggle {
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
  margin-left: auto;
  input[type="checkbox"] {
    appearance: none;
    position: relative;
    border: 2px solid gray;
    border-radius: 1.25rem;
    width: 2.25rem;
    height: 1.2rem;
  }
  input[type="checkbox"]::before {
    content: "";
    position: absolute;
    left: 0;
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    transform: scale(0.8);
    background: gray;
    transition: left 0.1s linear;
  }
  input[type="checkbox"]:checked::before {
    background-color: white;
    left: 1rem;
  }
  input[type="checkbox"]:checked {
    background-color: transparent;
    border-color: white;
  }
}

#app {
  height: 100vh;
  padding: 0;
  margin: 0;

  .theme__provider {
    display: flex;
    width: 100%;
    height: 100%;
    --list-color: rgb(119, 117, 110);
    --content-color: black;
    --background-list-page: #f7f7f5;
    --background-editor-page: white;
    --background-hover: rgba(154, 154, 154, 0.3);
    --editor-border-line: rgba(119, 117, 110, 0.5);
    --placeholder-color: gray;
  }

  .theme__provider.dark {
    --list-color: rgb(99, 99, 99);
    --content-color: #d3d3d3;
    --background-list-page: #202020;
    --background-editor-page: #191919;
  }

  .list-page {
    box-sizing: border-box;
    color: var(--list-color);
    padding: 24px;
    padding-right: 0;
    background-color: var(--background-list-page);
    width: 30%;
    min-width: 300px;
    white-space: nowrap;
    height: 100%;
    overflow-y: scroll;
    .list-page__header {
      width: 100%;
      display: flex;
      .list_page__header--text {
      }
      .button--root-add {
        margin-left: auto;
      }
    }
    .document-list {
      margin-top: 16px;
      display: flex;
      flex-direction: column;
      gap: 8px;
    }

    .list-item {
      display: flex;
      flex-direction: row;
      position: relative;

      details > summary::before {
        content: ">";
        position: absolute;
        display: block;
        transform-origin: center;
        transition: 0.2s;
      }
      details[open] > summary:before {
        transform: rotate(90deg);
      }
      details[open] {
      }

      details {
        transition: all 0.2s ease;
        summary {
          display: block;
          height: 20px;
          cursor: pointer;
        }
        display: inline-block;
        margin: 0;
        position: relative;
        overflow: hidden;
        width: 100%;
        .list-item__child {
          margin-top: 8px;
          padding-left: 24px;
          display: flex;
          flex-direction: column;
          gap: 8px;
          .list-item__child--empty-text {
            margin: 0;
            margin-right: 32px;
            overflow: hidden;
            text-overflow: ellipsis;
          }
        }
      }
      .list-item__title:hover,
      .list-item__title[selected="true"] {
        background-color: var(--background-hover);
        font-weight: bold;
      }

      .list-item__title {
        display: flex;
        flex-direction: row;
        position: absolute;
        width: calc(100% - 24px);
        left: 24px;
        cursor: pointer;
        .list-item__title--text {
          flex-grow: 1;
          overflow-x: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
        .list-item__title--buttons {
          margin-left: auto;
        }
      }
    }
  }

  .editor-page {
    box-sizing: border-box;
    color: var(--content-color);
    background-color: var(--background-editor-page);
    width: 100%;
    height: 100vh;
    flex-grow: 1;

    .editor-page__header {
      width: 100%;
      height: 48px;
      box-sizing: border-box;
      position: sticky;
      display: flex;
      align-items: center;
      padding: 1rem;
      .editor-page__header--breadcrumb {
        display: flex;
        gap: 1rem;

        .breadcrumb__item {
          cursor: pointer;
          color: var(--content-color);
        }
        .breadcrumb__item::after {
          content: "/";
          color: var(--editor-border-line);
          margin-left: 1rem;
        }
        .breadcrumb__item:last-child {
          pointer-events: none;
        }
        .breadcrumb__item:last-child::after {
          content: "";
        }
      }
    }

    .editor-page__body {
      box-sizing: border-box;
      padding: 24px;
      height: calc(100vh - 48px);
      overflow-y: scroll;
      .editor--title {
        font-size: 32px;
      }
      .editor--content {
        height: 1000px;
      }

      .editor--content[contentEditable="true"]:empty::before {
        content: attr(placeholder);
        color: var(--placeholder-color);
      }
      .editor--title:focus,
      .editor--content:focus {
        outline: none;
      }

      .editor--title::after {
        content: "";
        display: block;
        height: 1px;
        width: 100%;
        background-color: var(--editor-border-line);
        margin: 16px 0;
      }
    }
  }
}
