body {
  display: flex;
  flex-direction: column;
}

button {
  background-color: transparent;
  border-radius: 5px;
  border-color: transparent;
  color: lightslategrey;
  cursor: pointer;
}

button:hover {
  background-color: #dcdcdc;
}

header {
  margin-bottom: 20px;
  padding-bottom: 10px;
  border-bottom: 1px solid lightslategray;
  display: flex;
}

.header--loading {
  margin: auto 10px;
  opacity: 0;
}

.header--loading.active {
  opacity: 1;
}

.App {
  display: flex;
  width: 80%;
  margin: auto;
}

.listPage {
  overflow: auto;
  width: 30%;
  margin: 0;
  padding: 20px;
  margin-right: 10px;
  border-right: 1px solid lightslategray;
}

.listPage li {
  cursor: pointer;
}

.listPage .list__title:hover {
  background-color: #dcdcdc;
  border-radius: 5px;
}

.list {
  overflow: scroll;
}

.editorPage {
  width: 70%;
  margin: 0;
}

.editor {
  opacity: 0;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.editor.active {
  opacity: 1;
}

.editor #title {
  outline: none;
  border: none;
  border-bottom: 1px solid lightslategray;
  padding: 5px;
  margin: 5px;
  font-size: 24px;
}

.editor #content {
  height: 100%;
  font-size: 16px;
  outline: none;
  border: none;
}
